.acc-type {
    position: relative;
    width: 40%;
    cursor: pointer;
}

.image {
    display: block;
    width: 80%;
    height: auto;
    border-radius: 0.5rem;
    background-color: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 80%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4aeaf7;
    border-radius: 0.5rem;
}

.acc-type:hover .overlay {
    opacity: 0.8;
}

.text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
}

h2 {
    width: 100%;
    text-align: center;
    border-bottom: 0.5px solid #2b49eb;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h2 span {
    background: #f1f1e9;
    padding: 0 10px;
}

.active {
    background-color: #4aeaf7;
}

#toggle-password {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 10px;
    cursor: pointer;
}

.fa-regular.fa-eye {
    color: #4e5969;
}

.fa-regular.fa-eye:hover {
    color: #000000;
}
